.image-cover {
    min-height: 100px;
    background-image: url(images/cover.jpg);
    margin: 5px;
}
.image-rs-150 {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.round-border {
    border-radius: 2em;
}